name: SADoc Automation

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: install nodejs
        uses: actions/setup-node@master
        with:
          node-version: '22.17.0'
      - name: install deps
        run: npm install
      - name: build app
        run: npm run build
      - name: copy dist file with scp
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.DOC_HOST }}
          username: ${{ secrets.DOC_NAME }}
          password: ${{ secrets.DOC_KEY }}
          port: 22624
          source: 'public'
          target: ${{ secrets.DOC_TARGET }}
